@font-face {
    font-family: ArsenicaLight;
    src: url(./ArsenicaTrial-Light.woff2);
}

@font-face {
    font-family: ArsenicaRegular;
    src: url(./ArsenicaTrial-Regular.woff2);
}

@font-face {
    font-family: ArsenicaMedium;
    src: url(./ArsenicaTrial-Medium.woff2);
}

@font-face {
    font-family: ArsenicaDemibold;
    src: url(./ArsenicaTrial-Demibold.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-img {
    width: 23vw;
    height: 16vw;
    object-fit: cover;
    transform: rotate(-5deg);
}

.hero-img img {
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    font-size: 7vw;
    font-weight: 300;
    margin-bottom: -40px;
    z-index: 2;
    pointer-events: none;
    font-family: ArsenicaDemibold;
}

.hero h2 {
    font-size: 7vw;
    font-weight: 300;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
    font-family: ArsenicaDemibold;
}

.hero p {
    font-size: 3rem;
    margin-top: 4rem;
}

#sample {
    height: 100vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capsule-btn {
    font-size: 3rem;
    border-radius: 3rem;
    height: 65px;
    padding: 0 3rem;
    overflow: hidden;
    border: 2px solid #000;
    color: #000;
    position: relative;
    z-index: 1;
}

.capsule-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    transition: all .5s ease;
    z-index: -1;
}

.capsule-btn:hover::after {
    width: 100%;
}

.capsule-btn:hover span {
    color: #fff;
}

.capsule-btn span {
    display: block;
    margin: 1.5rem 0;
    transition: all .5s ease;
    z-index: 1;
}

.capsule-btn span:nth-child(2) {
    transform: rotate(-10deg);
}

.capsule-btn:hover span:nth-child(1) {
    transform: translateY(-150%) rotate(10deg);
    opacity: 0;
}

.capsule-btn:hover span:nth-child(2) {
    transform: translateY(-150%) rotate(0);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    height: 8rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .3s ease-in-out;
    transform: translate3d(0, 0, 0);

}

.logo a {
    font-size: 3rem;
    font-weight: 300;
    font-family: ArsenicaDemibold;
    color: #000;
}

.menu {
    color: #000;
    font-size: 2.5rem;
    cursor: pointer;
}

.scroll-down .navbar {
    transform: translate3d(0, -100%, 0);
}

.nav {
    width: 100%;
    height: 0vh;
    top: -10%;
    background-color: #EDECE7;
    position: fixed;
    z-index: 100;
    transition: all .8s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav.active {
    height: 100vh;
    top: 0;
}

.nav-menu {
    position: absolute !important;
    right: 3rem;
    top: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.nav-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav-img {
    width: 50%;
    height: 100%;
}

.nav-ul {
    width: 50%;
    padding: 0 2.5vw;
}

.nav-ul ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.nav-ul ul li{
    margin: 1.6rem 0;
    overflow: hidden;
}

.nav-btn {
    --nav-btn: 4vw;
    font-size: var(--nav-btn);
    display: block;
    height: calc(var(--nav-btn) + 10px);
    overflow: hidden;
    color: #000;
    position: relative;
}

.nav-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.nav-btn:hover::after {
    transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-underline {
    position: relative;
}

.btn-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.btn-underline:hover::after {
    transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-btn span {
    display: block;
    transition: all .3s ease-in-out;
}

.nav-btn:hover span:nth-child(1) {
    transform: translateY(-100%) ;
}

.nav-btn:hover span:nth-child(2) {
    transform: translateY(-100%);
}

/* Maqruee */
#marquee {
    position: relative;
    background-color: #0f0f0f;
    color: #eee;
    padding: 3rem 0;
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    overflow: hidden;
    user-select: none;
}
.marquee_inner {
    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row;
}
.marquee_part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 0.4rem;
}
.arrow{
    width: 8rem;
    height: 6rem;
    margin: 0 1rem;
    transform: rotate(-180deg);
    transition: all .6s cubic-bezier(0.075,0.82,0.165,1);
}
.arrow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow.active{
    transform: rotate(0deg);
    transition: all .6s cubic-bezier(0.075,0.82,0.165,1);
}

/* Skills */
#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.skills-left{
    margin-right: 4rem;
    width: fit-content;
}
.skills-left h1{
    font-size: 5vw;
    z-index: 2;
    font-weight: 400;
    line-height: 5vw;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.skills-img {
    width: 500px;
    height: 250px;
    margin-top: -35px;
}
.skills-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skills-right{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 40%;
}
.skills-right span{
    display: block;
    margin: 1rem;
    color: #000;
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 2px solid #000;
    position: relative;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease;
    filter: blur(10px);
    user-select: none;
    opacity: 0;
}
.skills-right span::after{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    content: '';
    border-radius: 3rem;
    background-color: #000;
    z-index: -1;
    transition: all .5s cubic-bezier(0.075,0.82,0.165,1);
}
.skills-right span:hover::after{
    bottom: 0;
}
.skills-right span:hover{
    color: #fff;
}
@media screen and (max-width: 1300px) {
    .hero-img {
        width: 32vw;
        height: 23vw;
    }

    .hero h1, .hero h2 {
        font-size: 10vw;
    }
    .skills-right {
        width: 45%;
    }
}

@media screen and (max-width: 1100px) {

    .skills-img {
        width: 390px;
    }
    .skills-right span {
        font-size: 2rem;
    }
}
@media screen and (max-width: 950px) {
    .hero h1 {
        margin-bottom: -22px;
    }

    .hero h2 {
        margin-top: -22px;
    }
    .nav-btn {
        --nav-btn: 8vw;
    }
    #skills{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-left{
        margin-right: 0;
    }
    .skills-right{
        align-self: center;
        margin-top: 4rem;
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .nav-img{
        display: none;
    }
    .nav-ul{
        width: 90%;
    }
    .skills-left h1 {
        font-size: 8vw;
        line-height: 8vw;
    }
}
@media screen and (max-width: 650px) {
    .hero-img {
        width: 37vw;
        height: 30vw;
    }

    .hero p {
        font-size: 2rem;
        margin-top: 4rem;
    }
    #marquee {
        font-size: 3rem;
    }
    .arrow{
        width: 8rem;
        height: 4rem;
        margin: 0 1rem;
        transform: rotate(-180deg);
        transition: all .6s cubic-bezier(0.075,0.82,0.165,1);
    }
}

@media screen and (max-width: 550px) {
    .hero h1 {
        margin-bottom: -15px;
        font-size: 15vw;
    }

    .hero h2 {
        margin-top: -15px;
    }

    .hero-img {
        width: 51vw;
        height: 71vw;
    }

    .capsule-btn {
        font-size: 2rem;
        height: 55px;
    }

    .capsule-btn:hover span:nth-child(1) {
        transform: translateY(-165%) rotate(10deg);
    }

    .capsule-btn:hover span:nth-child(2) {
        transform: translateY(-165%) rotate(0);
    }
    .nav-btn {
        --nav-btn: 14vw;
    }
    .skills-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-img {
        width: 90%;
        height: 180px;
    }
    .skills-left h1 {
        font-size: 10vw;
        line-height: 10vw;
    }
    .skills-right span {
        font-size: 1.6rem;
    }
}